<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
	  xmlns:th="http://www.thymeleaf.org"
	  lang="en">
<head th:replace="fragments/Head :: head"><title>My Account</title></head>
<body class="animsition">

<!-- Header -->
<header class="header-v4">
	<!-- Header desktop -->
	<div th:replace="fragments/HeaderDesktop :: header-desktop"></div>

	<!-- Header Mobile -->
	<div th:replace="fragments/HeaderMobile :: header-mobile"></div>

	<!-- Menu Mobile -->
	<div th:replace="fragments/HeaderMobile :: menu-mobile"></div>

	<!-- Modal Search -->
	<div th:replace="fragments/HeaderMobile :: modal-search"></div>
</header>

<!-- Cart -->
<div th:replace="fragments/Cart :: cart"></div>

<!-- Title page -->
<section class="bg-img1 txt-center p-lr-15 p-tb-92" style="background-image: url('images/bg-01.jpg');">
	<h2 class="ltext-105 cl0 txt-center">
		My Account
	</h2>
</section>

<!-- login page -->
<section class="bg0 p-t-104 p-b-116">
	<div class="container">
		<div class="flex-w flex-tr">
			<div class="size-210 bor10 p-lr-70 p-t-55 p-b-70 p-lr-15-lg w-full-md">
				<form method="POST" th:action="@{/authenticateTheUser}" id="login-form">
					<div class="bor8 m-b-10">
						<label for="username">Username: </label>
						<input type="text" name="username" id="username" /><br/>
					</div>
					<div class="bor8 m-b-10">
						<label for="password">Password: </label>
						<input type="password" name="password" id="password" /><br/>
					</div>

					<button class="flex-c-m stext-101 cl0 size-121 bg3 bor1 hov-btn3 p-lr-15 trans-04 pointer">
						Login
					</button>
				</form>
				<br>
				<p>New here? Click
					<a th:href="@{/register}">here</a> to register.</p>
			</div>
		</div>
	</div>
</section>

<!-- Footer -->
<div th:replace="fragments/Footer :: footer"></div>

<!-- Back to top -->
<div th:replace="fragments/Footer :: backToTop"></div>

<!--===============================================================================================-->
<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/animsition/js/animsition.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/bootstrap/js/popper.js"></script>
<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/select2/select2.min.js"></script>
<script>
	$(".js-select2").each(function(){
		$(this).select2({
			minimumResultsForSearch: 20,
			dropdownParent: $(this).next('.dropDownSelect2')
		});
	})
</script>
<!--===============================================================================================-->
<script src="vendor/MagnificPopup/jquery.magnific-popup.min.js"></script>
<!--===============================================================================================-->
<script src="vendor/perfect-scrollbar/perfect-scrollbar.min.js"></script>
<script>
	$('.js-pscroll').each(function(){
		$(this).css('position','relative');
		$(this).css('overflow','hidden');
		var ps = new PerfectScrollbar(this, {
			wheelSpeed: 1,
			scrollingThreshold: 1000,
			wheelPropagation: false,
		});
		$(window).on('resize', function(){
			ps.update();
		})
	});
</script>
<!--===============================================================================================-->
<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyAKFWBqlKAGCeS1rMVoaNlwyayu0e0YRes"></script>
<script src="js/map-custom.js"></script>
<!--===============================================================================================-->
<script src="js/main.js"></script>

</body>
</html>